h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #1c2900;
}

li {
	list-style: none;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.display-flex {
	display: flex;
}

label {
	cursor: pointer;
}

.hide {
	position: fixed;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #000;
    background: #fff;
}

.sub-txt {
	text-align: center;
    color: #000;
    margin-top: 20px;
}

.font-red {
	color: red;
	font-size: 14px;
}

.font-bold {
	font-weight: bold;
}

.info-icon {
	width: 20px;
}

.left-icon {
	padding-left: 6px;
}

.tb-line {
	background: #f7f7fb;
	border-top: 1px solid #46474f;
    border-bottom: 1px solid #e2e2e2;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tb-line>.tb1-title {
	width: 70%;
}

.tb-line>.tb1-button {
	width: 30%;
	font-size: 16px;
    justify-content: right;
    display: flex;
}

.tb-line>.tb1-button a {
    text-align: center;
    border-radius: 22px;
    background: #fff;
    border: 1px solid #4357b3;
    width: 100px;
    font-size: 16px;
    text-align: center;
    line-height: 43px;
    color: #4357b3;
}

.tb1 {
	border-top: 1px solid #6588d0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.tb1 th {
	color: #000;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    letter-spacing: -0.5px;
    padding-top: 5px;
}

.tb1 td {
	color: #000;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    letter-spacing: -0.5px;
    padding-top: 3px;
}

.tb2 {
	border-top: 1px solid #6588d0;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}

.tb2 th {
	color: #000;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-right: 1px solid #ddd;
    padding: 5px;
}

.tb2 th:last-of-type {
	border-right: 0;
}

.tb2 td {
	color: #000;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-right: 1px solid #ddd;
    padding: 5px;
}

.tb2 td:last-of-type {
	border-right: 0;
}

.list-icon {
	padding: 5px;
}

.part {
	column-rule: 1px dotted black;
}

.state {
	border-top: 1px solid #e2e2e2;
    background: #f8f8f8;
    width: auto;
	border-bottom: 1px solid #e2e2e2;
    padding: 12px 20px;
}

.state > p {
	width: auto !important;
    margin-left: 0;
    background: #fff;
    display: inline-block;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
    letter-spacing: -1px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 0;
}

.state span {
	color: #fff;
    padding: 4px 0;
    display: inline-block;
    text-align: center;
    min-width: 70px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.state_red {
    background: #db001a;
}

.state_green {
    background: #009523;
}

.title-line {
	border-bottom: 1px solid #c6d1db;
}

.list-st{
	border: 1px solid #e2e2e2;
	display: flex;
    justify-content: space-around;
}

.list-st>.list-img {
	margin: 35px 0 45px 30px;
    width: 300px;
    height: 210px;
    float: left;
    position: relative;
}

.list-st>.list-title {
	margin: 35px 10px 30px 25px;
}

.list-title>h5 {
	display: inline-block;
}

.list-title>span {
	background: #039958;
    color: #fff;
    padding: 6px 10px;
    font-size: 15px;
    display: inline-block;
    margin-right: 8px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    vertical-align: middle;
}

.list-title > ul {
	width: 100%;
    display: block;
    float: left;
    padding-left: 0;
}

.list-title>ul>li {
    display: inline;
    border: 1px solid #FF8123;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    padding: 3px 10px;
}

.list-title>ul>li:nth-child(1) {
    border: 1px solid #009523;
}

.list-title>ul>li:nth-child(2) {
    border: 1px solid #009523;
}

.list-title>ul>li:nth-child(3) {
    border: 1px solid #6CA4D9;
}

.list-info>ul {
    padding-left: 0;
}

.list-info>ul li strong {
    width: 80px;
    float: left;
    color: #008040!important;
}

.list-info>ul li p {
    margin-bottom: 0;
}

.list-st>.list-link {
	margin: 30px 10px 30px 0;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.list-link .list-btn {
	width: 85%;
	border: 1px solid #e2e2e2;
	border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.list-link>.list-btn ul {
	width: 100%;
    height: 80%;
    float: left;
    padding-left: 0;
}

.list-link>.list-btn ul li {
	width: 85%;
	height: 45px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 15px;
    border-radius: 25px;
    background: #EEEEEE;
    text-align: center;
    position: relative;
    padding-top: 12px;
}

.list-btn ul li a p {
	width: 70%;
    float: left;
    color: black;
    margin-bottom: 0;    
    font-size: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.list-btn ul li a img {
	vertical-align: 0;
}

.title-color {
	background: #f7f7fb;
	border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
	padding: 10px;
}

/* Qnalist.jsp */

.qna-srch {
    padding: 10px 40px;
}

.qna-srch>* {
	display: flex;
}

.qna-srch legend {
	overflow: hidden;
	display: none;
}

.qna-srch .qna-srchDate {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
    margin-left: 0.5%;
    padding: 10px;
}

.qna-srch .qna-srchDate input {
    height: 35px;
    padding-left: 10px;
    width: calc((100% - 19px) / 2);
    padding-right: 40px;
    background: #fff url(../img/call_blit.png) right 10px center no-repeat;
}

.mid {
	margin-left: 10px;
	margin-right: 10px;
}

.qna-srch .qna-srchTitle {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
    margin-left: 0.5%;
    width: 10%;
    margin-left: 2%;
}

.qna-srch .qna-srchTitle select {
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.qna-srch .qna-srchInput {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
    padding-right: 30px;
    margin-left: 0.5%;
}

.qna-srchInput input {
    height: 35px;
    width: 100%;
    padding-left: 8px;
}

.btn-default {
	border: 1px solid black;
    background: #fff;
    color: #1c2900 !important;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
    min-width: 80px;
    height: 35px;
    margin-left: 8px;
}

.btn-default:hover {
	border: 1px solid #fff;
    background: #90bc79;
    color: #fff !important;
    font-weight: bold;
}

.qna-blank {
	border-radius: 10px;
    background: #f8f8f8;
    border: 1px dashed #e2e2e2;
    padding: 40px 20px;
    text-align: center;
    margin: 40px 0;
}

/* MyInfo.jsp */

.myinfo-box {
	width: 80%;
}

.myinfo-pw {
	height: 35px;
    border: 1px solid #c9c9c9;
    text-indent: 5px;
    background: #fff;
    width: 60%;
}

/* Widrw.jsp */

.widrw-txt li {
	list-style: square;
	font-size: 13px;
}

.widrw-inbox {
	width: 580px;
}

.widrw-pw {
	height: 35px;
    border: 1px solid #c9c9c9;
    text-indent: 5px;
    background: #fff;
    width: 441px;
}

.widrw-btn {
	width: 120px;
	height: 45px;
    padding: 10px 0;
}

.widrw-chk {
	font-size: 13px;
}

.widrw-chk label input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -4px;
}

/* GnrSrch.jsp */

.srch-wrap {
	display: flex;
    flex-wrap: wrap;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
    height: 100px;
}

.srch-wrap>.srch-item {
    width: calc((100% - 100px) / 4);
    height: 100%;
}

.srch-item {
	margin: 0;
    padding: 20px 25px;
    display: flex;
    align-items: center;    
}

.srch-item:not(:last-of-type) {
	border-right: 1px dashed #e2e2e2;
}

.srch-txt p {
	margin-bottom: 5px;
	margin-top: 5px;
}

.srch-item>.icon {
	background: #f7f7fb;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #039f6f;
    margin: 0 15px 0 0;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: 2px;
}
.srch-btn {
	width: 100px;
}
.srch-btn a {
    display: flex;
    width: 100%;
    height: 100%;
    background: #485CB5;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-slider {
	margin-top: 5px;
    width: 300px;
    height: 210px;
}

.srch-info {
	width: 50%;
	height: 100%;
	margin-top: 5px;
}

.srch-title {
	width: 100%;
    height: 25%;
    display: flex;
}

.srch-title > ul {
	display: flex;
	height: 100%;
	justify-content: normal;
}

.srch-title > ul li {
	width: auto;
	height: 100%;
    line-height: normal;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 15px;
}

.srch-title > ul li:nth-child(1) {
    background: #00A948;
}
.srch-title > ul li:nth-child(2) {
    background: #1D74C5;
}
.srch-title > ul li:nth-child(3) {
    background: #EF5757;
}
.srch-detail {
	width: 100%;
	height: 100%;
}

.srch-detail > ul {
    padding-left: 0;
    width: 100%;
    height: 100%;
}

.srch-detail > ul li {
	width: 95%;
    height: auto;
	padding-bottom: 5px;
}

.srch-detail > ul li strong {
    float: left;
    width: 25%;
    height: 50%;
    color: #007A62;
    font-size: 12px;
}

.srch-detail > ul li p {
	text-align: left;
	width: 75%;
    height: 50%;
    font-size: 15px;
    float: left;
    letter-spacing: -.5px;
    font-size: 12px;
    margin-bottom: 0;
}

.srch-link {
	display: flex;
    justify-content: right;
    width: 30%;
}

.srch-bell {
    padding: 20px 25px 0;
    height: 60px;
}

.srch-bell>img {
    display: block;
    float: left;
}

.srch-link .srch-psbtn {
	width: 90%;
	border: 1px solid #e2e2e2;
	border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.srch-num {
    height: 120px;
}

.srch-num ul {
	width: 95%;
    height: 80%;
    float: left;
    padding-left: 5px;
}

.srch-num > ul li {
	width: 90%;
	height: 45px;
    margin: 10px 15px;
    border-radius: 25px;
    background: #EEEEEE;
    position: relative;
    padding-top: 12px;
    padding-left: 15px;
}

.srch-num > ul li a p {
    text-align: left;
	width: 75%;
    float: left;
    color: black;
    font-size: 14px;
    margin-bottom: 0;    
    padding-left: 10px;
    font-weight: bold;
}

.srch-num > ul li a span {
    text-align: center;
	width: 25%;
    color: red;
    margin-bottom: 0;    
    font-size: 15px;
    padding-left: 15px;
    font-weight: bold;
    display: flex;
}

.srch-rsvbtn {
	width: 100%;
    position: relative;
}

.srch-rsvbtn > ul {
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 7px;
    color: white;
    text-align: center;
}

.srch-rsvbtn > ul li:nth-child(1) {
	width: 80%;
    height: 100%;
    background: #008F51;
    border-radius: 0 0 0 25px;
    padding-top: 15px;
}

.srch-rsvbtn > ul li:nth-child(2) {
    width: 20%;
    height: 100%;
    background: #067746;
    border-radius: 0 0 25px 0;
    display: block;
    position: relative;
    padding-top: 15px;
}

/*
CheckList.jsp
*/

.check-title>h2 {
	color: #3565d1;
}

.check-title ul {
	margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.check-title ul li {
	background: #fff;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    text-align: center;
    box-sizing: border-box;
    width: calc((100% - 100px) / 6);
    flex-shrink: 0;
    word-break: keep-all;
}

.check-title ul li:not(:last-of-type) {
	margin-right: 20px;
}

.check-title ul li img {
    vertical-align: middle;
    margin-bottom: 13px;
    color: black;
}	

.check-title ul li strong {
	display: block;
	font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
}

.check-title ul li p {
	font-size: 12px;
}

/*
PrgmSrch.jsp
*/
.list-link .prgm-btn {
	width: 85%;
	height: 70%;
	border: 1px solid #e2e2e2;
	border-radius: 25px;
}

.list-link>.prgm-btn>ul {
	width: 100%;
    height: 80%;
    float: left;
    padding-left: 0;
}

.list-link>.prgm-btn>ul li {
	width: 85%;
	height: 45px;
    margin: 18px auto;
    border-radius: 25px;
    background: #EEEEEE;
    text-align: center;
    position: relative;
    padding-top: 12px;
}

.prgm-btn>ul li a p {
	width: 70%;
    float: left;
    color: black;
    margin-bottom: 0;    
    font-size: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.prgm-btn>ul li a img {
	vertical-align: 0;
}

.prgm-btn>.srch-rsvbtn {
	width: 100%;
    position: relative;
}


/*
footer.jsp
*/
.footer-txt p {
    margin-bottom: 2px;
    width: 800px;
}